/***************  CHANGE BG AUTOMATIC **************/
.changeAutoBgDrawer {
    width: 100%;
    height: 100%;
    color: #FFF;
    overflow: hidden;
    /* position: relative; */
    background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center; */
    justify-content: center;
    display: "flex";
    justify-content: center;
    align-items: center;

    animation: changeBgDrawerAdmin 55s infinite ease-in-out;
}

@keyframes changeBgDrawerAdmin {
    0% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img17.jpeg);
    }

    20% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img23.jpeg);
    }

    40% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img30.jpeg);
    }

    60% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img11.jpeg);
    }

    80% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img5.jpeg);
    }

    100% {
        background-image: url(../../../utils/assets/imgs/admin/imgsDrawerAdmin/img17.jpeg);
    }
}