/***********************************/
/* Parent Container */
.content_img {
    position: relative;
    height: 30px;
    /* width: 200px;
    height: 200px; */
    /* float: left; */
    /* margin-right: 10px; */
}

/* Child Text Container */
.content_img div {
    position: absolute;
    bottom: -50px;
    /* bottom: 0;
    right: 0; */
    color: white;
    /* margin-bottom: 5px; */
    opacity: 0;
    /* visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 1; */
}

.content_img:hover div {
    border-radius: 50%;
    width: 150px;
    /* padding: 8px 15px; */
    height: 150px;
    /* z-index: 2; */
    visibility: visible;
    opacity: 1;
}